<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Material Design Lite -->
  <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <!-- Material Design icon font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <title>{% block title_block %}Rate {{episode.series}} {% endblock %}</title>
  {% block head_block%}{% endblock %}
</head>

<body>
  <!-- Always shows a header, save on smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout__header--scroll mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <a class="mdl-layout-icon mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"  href="/">
        <i class="material-icons">home</i>
      </a>
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title ">Rate {{episode.series}}</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="/rankings">
          <i class="material-icons">view_list</i>
          <a class="mdl-navigation__link mdl-layout--large-screen-only" href="/rankings">Episode Rankings</a>
        </a>
        <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="/about">
          <i class="material-icons">info</i>
          <a class="mdl-navigation__link mdl-layout--large-screen-only" href="/about">About</a>
        </a>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">
        {% block body_block %}{% endblock %}
      </div>
    </main>
  </div>
</body>

</html>