{% extends 'base.html' %} {% block body_block %}

<style>
    form {
        display: none;
    }
    
    .skip-tie-button {
        width: 100%;
        height: 5vh;
        font-size: 4vh;
        line-height: 5vh;
    }
    
    .skip-tie-card {
        width: 100%;
        min-height: 0;
    }
    
    .skip-tie-icon {
        font-size: 3vh;
    }
    
    .question-card {
        width: 100%;
        min-height: 0;
        height: 100%;
        text-align: center;
    }
    
    .question {
        font-size: 5vw;
        line-height: 5vw;
    }
    
    .episode-grid {
        height: 64vh;
    }
    
    .episode-card > .mdl-card__menu {
        color: #fff;
    }
    
    .episode-a-card > .mdl-card__title {
        background: url({{first_episode.image}}) center / cover;
    }
    
    .episode-b-card > .mdl-card__title {
        background: url({{second_episode.image}}) center / cover;
    }
    
    .episode-card > .mdl-card__title {
        color: #fff;
        height: 100%;
        text-decoration: none;
    }
    
    .episode-card {
        width: 100%;
        height: 100%;
    }
</style>

<div class="episode-grid mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <div class="episode-a-card episode-card mdl-card mdl-shadow--2dp">
            <a class="mdl-card__title" href="#" onclick="document.getElementById('episode-1-selected').click();">
                <h2 class="mdl-card__title-text">S{{first_episode.season}}E{{first_episode.episode}}: {{first_episode.title}}</h2>
            </a>
            <div class="mdl-card__supporting-text">{{first_episode.plot}}</div>
            <!--<div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{first_episode.rating}}</a>
            </div>-->
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" onclick="document.getElementById('episode-1-selected').click();">
                    <i class="material-icons">thumb_up</i>
                </button>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <div class="episode-b-card episode-card mdl-card mdl-shadow--2dp">
            <a class="mdl-card__title" href="#" onclick="document.getElementById('episode-2-selected').click();">
                <h2 class="mdl-card__title-text">S{{first_episode.season}}E{{first_episode.episode}}: {{second_episode.title}}</h2>
            </a>
            <div class="mdl-card__supporting-text">{{second_episode.plot}}</div>
            <!--<div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{second_episode.rating}}</a>
            </div>-->
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" onclick="document.getElementById('episode-2-selected').click();">
                    <i class="material-icons">thumb_up</i>
                </button>
            </div>
        </div>
    </div>
</div>
<!--Add New Row-->
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <div class="skip-tie-card mdl-card mdl-shadow--2dp">
            <a class="skip-tie-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="document.getElementById('draw').click();">Tie
        <i class="skip-tie-icon material-icons">thumbs_up_down</i>
        </a>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <div class="skip-tie-card mdl-card mdl-shadow--2dp">
            <a class="skip-tie-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="/">Skip
        <i class="skip-tie-icon material-icons">skip_next</i>
        </a>
        </div>
    </div>
</div>

<!--Add a new Row-->
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="question-card mdl-card mdl-shadow--4dp">
            <h2 class="question">Which episode is better?</h2>
        </div>
    </div>
</div>

<form action="/" method="post">{% csrf_token %}
    <input type="hidden" value="{{first_episode.title}}" name="first_episode_title">
    <input type="hidden" value="{{second_episode.title}}" name="second_episode_title">
    <button type="submit" name="episode-1-selected" id="episode-1-selected">Ep1</button>

</form>
<form action="/" method="post">{% csrf_token %}
    <input type="hidden" value="{{first_episode.title}}" name="first_episode_title">
    <input type="hidden" value="{{second_episode.title}}" name="second_episode_title">
    <button type="submit" name="episode-2-selected" id="episode-2-selected">Ep2</button>
</form>
<form action="/" method="post">{% csrf_token %}
    <input type="hidden" value="{{first_episode.title}}" name="first_episode_title">
    <input type="hidden" value="{{second_episode.title}}" name="second_episode_title">
    <button type="submit" name="draw" id="draw">Tie</button>
</form>

{% endblock %}